:root{
    --negro: #03010F;
    --blanco-rosa: #FFFAFF;
    --rojo-eyecaption: #FA0A0A;
    --rojo: #6F0000;
    --rosa: #F7DAE2;

    --dm-sans:'DM Sans', sans-serif;
    --dm-serif:'DM Serif Display', serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: var(--dm-sans);
    color: var(--negro);
    background-color: var(--blanco-rosa);
    height: 100vh;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--negro);
}

  