.presentacion {
    padding: 1.5rem;
}

.presentacion__titulo{ 
    color: var(--rojo);
    font-family: var(--dm-serif);
    font-weight: 400;
    font-size: 1.563rem;
    padding-bottom: 1rem;
}

.presentacion__texto {
    font-size: 1rem;
    text-align: left;
    display: flex;
    align-content: flex-start;
    padding-bottom: 1.2rem;
}

@media screen and (min-width: 700px) {
    .presentacion {
        padding: 3rem 2rem;
    }
    
    .presentacion__titulo{ 
        font-size: 1.563rem;
        padding-bottom: 1.5rem;
    }
    
    .presentacion__texto {
        padding-right: 4rem;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1200px) {
    .presentacion {
        padding: 3rem 6rem;
    }
    
    .presentacion__titulo{ 
        font-size: 1.953rem;
    }
    
    .presentacion__texto {
        padding-right: 6rem;
    }
}

@media screen and (min-width: 1400px) {
    .presentacion {
        padding: 3rem 9rem;
    }
}